.banner{
    width: 100%;
    height: 50vh;
    margin: auto;
    background-image: url("assets/images/banner.png");
    position: relative;
}
.banner h1{
    position: absolute;
    left: 50%;
    top: 50%;
}
